<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        <link rel="stylesheet" href="static/styles/__base.css">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block flashed %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% endblock %}
    {% block nav %}
    <div class="nav-container">
        <h1 class="logo nav-items">
            LOGO
        </h1>
        <ul class="nav-items">
            <li><a href="{{ url_for('task_page') }}">Создать задачу</a></li>
            <li class="nav__item"><a href="#">Мои проекты</a></li>
            {% if user.role == 'admin' %}
            <li class="nav__item"><a href="#">Список пользователей</a></li>
            <li class="nav__item"><a href="#">Назначить админом</a></li>
            {% endif %}
        </ul>
        <ul class="nav-items">
            <li class="nav__item"><a href="{{ url_for('logout_page') }}">Выйти</a></li>
            <li class="nav__item"><a href="#">Настройки профиля</a></li>
        </ul>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}


{% block scripts %}
{% endblock %}
</body>
</html>