{% macro form_generate(form, action='', project_id=None) %}
<form action="{{ action }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <input type="hidden" name="project_id" value="{{ project_id }}">
    {% for field in form if field.widget.input_type != 'hidden' %}
        {% if field.widget.input_type != "submit" %}
        <div class="field">
            {{ field.label }} {{ field }}
        </div> 
        {% else %}
        <div class="field">
            {{ field }}
        </div> 
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="field_error">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}


{% macro task_generate(tasks, status='') %}
<div class="{{ status }}-column column">
    <div class="column-header">
        {% if status == 'not_started' %} Не начатые
        {% elif status == 'in_progress' %} В работе
        {% elif status == 'in_review' %} На проверке
        {% elif status == 'done' %} Завершённые
        {% elif status == 'burned_down' %} Сгоревшие 
        {% endif %}
    </div>
    {% if tasks %}
    {% for task in tasks %}
    <div class="task-card">
        {{ task.get('title') }}
    </div>

    <div class="modal-overlay" id="modal-{{ task.id }}">
        <div class="task-card-modal">
            <span class="modal-close">&times;</span>
            <div class="modal-content">
                <span>Описание</span>
                {{ task.get('description') }}
                <hr>
                <span class="modal-date">{{ task.get('created_at') }}</span>
            </div>
            <div class="modal-actions">
                <button type="button" class="modal-btn modal-btn-open-status" data-task-id="{{ task.id }}">Сменить
                    статус</button>
                <form action="/tasks/change/other_page" method="post">
                    <input type="hidden" name="task_id" value="{{ task.get('id') }}">
                    <button type="submit" class="modal-btn">Изменить другое</button>
                </form>
            </div>
        </div>
    </div>

    <div class="status-modal-overlay" id="status-modal-{{ task.id }}">
        <div class="status-modal">
            <span class="status-modal-close">&times;</span>
            <div class="status-options">
                {% if task.get('status') != 'in_progress' %}
                <form action="/tasks/change_status" method="post">
                    <input type="hidden" name="status" value="in_progress">
                    <input type="hidden" name="task_id" value="{{ task.get('id') }}">
                    <button type="submit" class="status-option in-progress">В процессе</button>
                </form>
                {% endif %}

                {% if task.get('status') != 'in_review' %}
                <form action="/tasks/change_status" method="post">
                    <input type="hidden" name="status" value="in_review">
                    <input type="hidden" name="task_id" value="{{ task.get('id') }}">
                    <button type="submit" class="status-option in-review">На проверке</button>
                </form>
                {% endif %}

                {% if task.get('status') != 'done' %}
                <form action="/tasks/change_status" method="post">
                    <input type="hidden" name="status" value="done">
                    <input type="hidden" name="task_id" value="{{ task.get('id') }}">
                    <button type="submit" class="status-option done">Готово</button>
                </form>
                {% endif %}

                {% if task.get('status') != 'not_started' %}
                <form action="/tasks/change_status" method="post">
                    <input type="hidden" name="status" value="not_started">
                    <input type="hidden" name="task_id" value="{{ task.get('id') }}">
                    <button type="submit" class="status-option not_started">Не начато</button>
                </form>
                {% endif %}

                {% if task.get('status') != 'burned_down' %}
                <form action="/tasks/change_status" method="post">
                    <input type="hidden" name="status" value="burned_down">
                    <input type="hidden" name="task_id" value="{{ task.get('id') }}">
                    <button type="submit" class="status-option burned_down">Время вышло</button>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="disabeld-text">-</div>
    {% endif %}
</div>
{% endmacro %}