{% macro form_generate(form, action='') %}
<form action="{{ action }}" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    {% if field.widget.input_type != "submit" %}
    <div class="field">
        {{ field.label }} {{ field }}
    </div>
    {% else %}
    <div class="field">
        {{ field }}
    </div>
    {% endif %}
    {% if field.errors %}
    {% for error in field.errors %}
    <div class="field_error">
        <strong>{{ error }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</form>
{% endmacro %}


{% macro task_generate(tasks, status='') %}
<div class="{{ status }}-column column">
    <div class="column-header">
        {% if status == 'not_started' %} Не начатые
        {% elif status == 'in_progress' %} В работе
        {% elif status == 'in_review' %} На проверке
        {% elif status == 'done' %} Завершённые
        {% endif %}
    </div>
    {% if tasks %}
    {% for task in tasks %}
    <div class="task-card">
        {{ task.get('title') }}
    </div>
    <div class="modal-overlay">
        <div class="task-card-modal">
            <span class="modal-close">&times;</span>
            <div class="modal-content">
                {{ task.get('description') }}
                <span class="modal-date">{{ task.get('created_at') }}</span>
            </div>
            <div class="modal-actions">
                <form action="/tasks/change_status" method="post">
                    <button type="submit" class="modal-btn">Сменить статус</button>
                </form>
                <form action="/tasks/change_about" method="post">
                    <button type="submit" class="modal-btn">Изменить другое</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="disabeld-text">Отсутствуют</div>
    {% endif %}
</div>
{% endmacro %}