{% include '__flashed.html' %}
{% from '__helpers.html' import form_generate %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/__helpers.css">
</head>
</html>


<div class="login-container">
    {{ form_generate(form=form, action='/auth/login') }}

    <div class="auth-links">
        <p>Нет аккаунта?<a href="{{ url_for('register_page') }}">Зарегестрироваться</a></p>
    </div>
</div>