{% from '__helpers.html' import form_generate %}

<div class="login-container">
    {{ form_generate(form=form, action='/auth/login') }}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="auth-links">
        <p>Нет аккаунта?<a href="{{ url_for('register_page') }}">Зарегестрироваться</a></p>
    </div>
</div>