{% extends '__base.html' %}
{% from '__helpers.html' import task_generate %}


{% block content %}
<div class="user-about">
    <span>Присоединился: {{ user.joined.strftime('%d.%m.%Y') }}</span>
    <span>Выполнено задач: 0</span>
</div>

<div class="filter-container">
    <button class="filter-btn" id="filterBtn">Фильтры</button>
    <div class="filter-dropdown" id="filterDropdown">
    <a href="{{ url_for('main') }}?status=not_started" class="filter-item">Не начатые</a>
    <a href="{{ url_for('main') }}?status=in_progress" class="filter-item">В работе</a>
    <a href="{{ url_for('main') }}?status=in_review" class="filter-item">На проверке</a>
    <a href="{{ url_for('main') }}?status=done" class="filter-item">Завершённые</a>
</div>
</div>

<div class="task-columns">
    {{ task_generate(sorted_tasks.get('not_started'), 'not_started') }}
    {{ task_generate(sorted_tasks.get('in_progress'), 'in_progress') }}
    {{ task_generate(sorted_tasks.get('in_review'), 'in_review') }}
    {{ task_generate(sorted_tasks.get('done'), 'done') }}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('filterBtn').addEventListener('click', function () {
        document.getElementById('filterDropdown').classList.toggle('show');
    });

    window.addEventListener('click', function (event) {
        if (!event.target.matches('.filter-btn')) {
            const dropdown = document.getElementById('filterDropdown');
            if (dropdown.classList.contains('show')) {
                dropdown.classList.remove('show');
            }
        }
    });

    // MODAL

    document.addEventListener('DOMContentLoaded', function () {
        const taskCards = document.querySelectorAll('.task-card');
        const modals = document.querySelectorAll('.modal-overlay');
        const closeButtons = document.querySelectorAll('.modal-close');

        taskCards.forEach((card, index) => {
            card.addEventListener('click', () => {
                modals.forEach(modal => modal.style.display = 'none');

                if (modals[index]) {
                    modals[index].style.display = 'flex';
                }
            });
        });

        function closeAllModals() {
            modals.forEach(modal => modal.style.display = 'none');
        }

        closeButtons.forEach(btn => {
            btn.addEventListener('click', closeAllModals);
        });

        modals.forEach(modal => {
            modal.addEventListener('click', function (e) {
                if (e.target === this) {
                    closeAllModals();
                }
            });
        });

        document.addEventListener('keydown', function (e) {
            if (e.key === 'Escape') {
                closeAllModals();
            }
        });
    });

</script>
{% endblock %}